.main-learning-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 120px;
    font-weight: bold;
    text-shadow: 2px 2px #FF8FAA;
    height: 100%;
    color: white;

    .assignment-label {
        background: #FF8FAA;
        display: inline-block;
        padding: 10px 40px;
        border-radius: 20px;
        border: 2px solid white;
        opacity: 1;
        scale: 1;
        transition: opacity 0.2s ease-in-out, scale 0.3s ease-in-out;
    }

    .make-invisible {
        opacity: 0;
        scale: 0;
    }

    .pronounced {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 20px #e60073, 0 0 20px #e60073, 0 0 20px #e60073;
    }

    .transparent-letter {
        opacity: 0.5;
    }

    .uppercase {
        padding-right: 1em;
    }
    .uppercase + .lowercase {
        padding-left: 1em;
        border-left: 1px solid white; 
    }
}